header{
  box-shadow: none !important;
  border-bottom: 1px solid #ddd !important;
}
.headerToolbar {
  background: #fff !important;
  color: #000;
  height: 80px;
  padding: 18px 24px 18px 40px !important;

  .wrapperMenu {
    width: 100%;
    overflow: hidden;

    .mainMenu {
      align-items: center;
      width: calc(100% - 150px);
      float: left;

      .btnCustom {
        margin-left: 42px;
      }
    }

    .rightMenu {
      display: inline-flex;
      align-items: center;
      align-content: flex-end;
      float: right;

      .notify {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;

        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #00000014;
        opacity: 1;
        border-radius: 50%;

        img {
          margin: 0 auto;
        }
      }

      .avatar {
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 1024px) {
  header{
    margin-left: 200px !important;
    width: calc(100% - 200px) !important;
    .headerToolbar{
      height: 61px;
      min-height: 30px;
      display: inline-flex;
      align-items: center;
      width: 100% !important;
      padding: 10px 24px !important;
    }
  }
}

@media(max-width: 960px){
  header{
    width: 100% !important;
  }
}

@media(max-width: 767px){
  .headerToolbar{
    .wrapperMenu{
      .mainMenu{
        .buttonAdd{
        }
      }
    }
  }
}

@media(max-width: 680px){
  .headerToolbar{
    .wrapperMenu{
      .mainMenu{
        .buttonAdd{
          height: 30px !important;
          min-width: 40px;
          padding: 7px 10px !important;
          img{
            width: 16px;
            display: none;
          }
        }
        .btnCustom{
          height: 30px !important;
          margin-left: 15px;
          min-width: 40px;
          img{
            width: 16px;
            display: none;
          }
        }
      }
      .rightMenu{
        .avatar{
          width: 30px;
          height: 30px;
          margin-left: 15px;
        }
        .notify{
          width: 30px;
          height: 30px;
          img{
            width: 16px;
          }
        }
      }
    }
  }
}